<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Course</title>
</head>
<body>
    <a href="/"><button>Home</button></a>
    <h1>Detail Course</h1>
    <a href="/user/username/course/id/learn"><button>Learn</button></a>
    <a href="/user/username/enroll"><button>Enroll</button></a>
</body>
</html>