<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Material</title>
</head>
<body>
    <a href="/course/<%= id %>"><button>Back</button></a>
    <h1>Learning Material</h1>
    <a href=""><button>Download</button></a><br>

    <textarea name="" disabled id=""><%= data.materials %></textarea><br>

    <a href="/user/course/<%= id %>/learn/<%= data.id %>/complete"><button>Complete</button></a>
</body>
</html>