
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans serif;
}
body{
    background-color: #FFFAE6;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    background-color: #fff;
    border-radius: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px;
}
span{
    color: rgb(241, 102, 52);
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: rgb(241, 102, 52);
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field{
    display: flex;
    flex-direction: column;
}
.input-field .input{
    height: 45px;
    width: 87%;
    border: solid;
    outline: none;
    border-radius: 30px;
    color: rgb(154, 147, 144);
    padding: 0 0 0 42px;
    background: rgba(119, 98, 98, 0.1);
}
i{
    position: relative;
    top: -31px;
    left: 17px;
    color: rgb(241, 102, 52);
}
::-webkit-input-placeholder{
    color: rgb(241, 102, 52);
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgb(241, 102, 52);
    cursor: pointer;
    transition: .3s;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: rgb(241, 102, 52);
    margin-top: 10px;
}
.left{
    display: flex;
}
label a{
    color: rgb(241, 102, 52);
    text-decoration: none;
}

.errors{
    color: rgb(241, 102, 52);

}